<div class="container">
  <h1 class="banner">Stupid Coach</h1>
  <br>
  <br>
  <div class="question">
    <p><%= @question %></p>
    <p><i>-You</i></p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="answer">
    <p><%= @answer %></p>
    <p><i>-Coach</i></p>
  </div>
  <br>
  <br>
  <a><%= link_to 'Ask a question', ask_path  %></a>
</div>
